<div ng-controller="LoginCtrl as login">
    <h3>Login</h3>
    <form ng-submit="login.submit(user)">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Username" ng-model="user.username" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="text" class="form-control" id="password" placeholder="Password" ng-model="user.password" required>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>